body {
    font-family: 'Tahoma', sans-serif;
    margin: 0;
    padding: 0;
    background:#FFF0F5; /* صورتی کم رنگ */
}

header {
    background-color: #FFA6C9; /* صورتی روشن */
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffd1e0;
}

.container {
    width: 90%;
    margin: 20px auto;
}

.product, .cart-item {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.product:hover, .cart-item:hover {
    transform: scale(1.02);
}

.product img, .cart-item img {
    width: 120px;
    margin-right: 25px;
    border-radius: 10px;
}

button {
    background-color: #FFA6C9; /* صورتی تیره */
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

button:hover {
    background-color: #ff79a9; /* هاور روشن‌تر */
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
